* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= BODY ================= */

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  background-color: #9bb5bf;
  font-family: Arial, sans-serif;

  position: relative;

  transition: opacity 0.6s ease;
}

body.loaded {
  opacity: 1;
}

/* Luz suave no fundo */

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  pointer-events: none;
  z-index: 0;
}

/* ================= CONTAINER ================= */

.locket-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

.medalhao {
  width: 100%;
  max-width: 850px;

  margin-top: -100px;

  filter: drop-shadow(0 40px 80px rgba(0, 0, 0, 0.3));
}

.medalhao:hover {
  transform: scale(1.08) rotate(-2deg);
  filter: brightness(1.1);
}

.medalhao:active {
  transform: scale(0.96);
}

/* ================= ANIMAÇÃO ================= */

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* ================= FOOTER ================= */

.footer {
  width: 100%;
  text-align: center;

  margin-top: -90px; /* sobe */

  font-family: "Cormorant Garamond", serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

.footer a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: 300;
  transition: opacity 0.3s ease;
}

.footer a:hover {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .medalhao {
    max-width: 650px;     /* diminui o tamanho */
    margin-top: -400px;   /* levanta o medalhão */
  }

  .footer{
    margin-top: -200px;   /* levanta o footer */
  }
}

